@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');



html,
body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}


::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

.App {
  text-align: center;
  background-color: #ffffff;
  font-family: "League Spartan", sans-serif;
  width: 100%;
  max-width: 100%;
  /* Adjust as needed */
  margin: 0 auto;
  flex-grow: 1
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {

  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.card {
  width: 150px;
  height: 154px;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);} 

.card:hover {
  background-color: white;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.btn-green {
  background-color: #4AA032;
  color: #1E4D2E;
  border: none;
  float: right;
  margin-right: 20%;
  margin-top: 5%;
}

.btn-green:hover {
  background-color: #1E4D2E;
  color: white;
  border: none;
}

.btn-greens {
  background-color: #4AA032;
  color: #1E4D2E;
  border: none;
  float: right;
}

.btn-greens:hover {
  background-color: #1E4D2E;
  color: white;
  border: none;
}

.footer {
  background-color: white;
  color: #4AA032;
  text-align: center;
  padding: 10px;
}

.card-stack {
  display: flex;
  gap: 16px;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  font-family: 'League Spartan';
}

.modal-content {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  font-family: 'League Spartan';
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  cursor: pointer;
}

.gap-size {
  padding-left: 15%;
}

.image-card {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media only screen and (min-width: 768px){
  .parent:hover .child {
      opacity:1;
      height:auto;
      overflow:none;
      transform: translateY(0);
  }
  .child {
      opacity:0;
      height:0;
      overflow:hidden;
      transform: translateY(-10%);
  }
}

.cards {
  /* position: inherit; */
  width: 290px;
  height: 370px;
  border-radius: 30px;
  background: #f1f1f1;
  /* -webkit-box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
          box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff; */
             
}

.button {
  font-family: inherit;
  font-size: 20px;
  background: #4AA032;
  color: white;
  padding: .8% 1.5%;
  padding-left: 0.9em;
  margin-top: 3%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
  padding-left: 30%;
}

.button:hover svg {
  transform: translateX(1.2em) rotate(5deg) scale(1.1);
}

.button:hover span {
  transform: translateX(5em);
}

.button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
