@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');



html,
body {
  font-family: 'Amazon Ember';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}


::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

.App {
  text-align: center;
  background-color: #ffffff;
  font-family: 'open-sans', sans-serif;
  width: 100%;
  max-width: 100%;
  /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {

  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.card {
  width: 150px;
  height: 154px;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);} 

.card:hover {
  background-color: white;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.btn-green {
  background-color: #4AA032;
  color: #1E4D2E;
  border: none;
  float: right;
  margin-right: 20%;
  margin-top: 5%;
}

.btn-green:hover {
  background-color: #1E4D2E;
  color: white;
  border: none;
}

.footer {
  background-color: white;
  color: #4AA032;
  text-align: center;
  padding: 10px;
}

.card-stack {
  display: flex;
  gap: 16px;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  font-family: 'League Spartan';
}

.modal-content {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  font-family: 'League Spartan';
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  cursor: pointer;
}

.gap-size {
  padding-left: 15%;
}

.image-card {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

